@font-face {
    font-family: 'AUGUSTUS';
    src:  url('AUGUSTUS.TTF') format('TTF');
  }
  
  #wrapper {
      overflow: -hidden;
      overflow: -moz-hidden-unscrollable;
      margin: 0;

}

#title-anchor {
    display: flex;
    flex-direction: row;
    font-family: "AUGUSTUS";
    font-size: 24px;
    justify-content: space-around;
    padding-bottom: 0px;
}

#title{
    padding-left: 24px;
    text-decoration: underline;
}

#subtitle{
    padding-right: 24px;
    font-size: 18px;
    text-decoration: none;
}

#subtitle text{
    vertical-align: middle;
}

#controls label{
    font-size: 12px;
}

.hidden{
    display: none;
}

#sword{
    height: 24px;
    width: 24px;

    position: absolute;
    overflow: hidden;
    left: -50%;
}